{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Produkt {{ product.name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Produkt {{ product.name }}</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'product_update' product.pk %}">Produkt</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Edycja zdjęcia</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">{{ message }}</h3>
                            </div>
                            <div class="col text-right">
                                <a href="{% url 'product_update' product.pk %}" class="btn btn-sm btn-primary">Wróć do
                                    szczegółów produktu</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <form method="post" onsubmit="return onSubmit()" enctype="multipart/form-data"
                                      class="uniForm blueForms" id="id-product_image_form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                {{ product_image_form.image.errors }}
                                                <label for="{{ product_image_form.image.id_for_label }}">Obraz:</label>
                                                {{ product_image_form.image }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group form-switch">
                                                {{ product_image_form.is_primary.errors }}
                                                <label class="form-check-label"
                                                       for="{{ product_image_form.is_primary.id_for_label }}">
                                                    Pierwszy w kolejności?
                                                </label>
                                                <br>
                                                <input class="form-check-input" type="checkbox"
                                                       id="{{ product_image_form.is_primary.id_for_label }} is_primary"
                                                       name="is_primary"
                                                       checked>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                {{ product_image_form.order.errors }}
                                                <label for="{{ product_image_form.order.id_for_label }}">Kolejność</label>
                                                {{ product_image_form.order }}
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Aktualizuj zdjęcie"/>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

    <script>
        function onSubmit() {
            $('[name=is_primary]').val($('[name=is_primary]').val() === 'on');
            return true;
        }
    </script>

{% endblock javascripts %}
