{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Lokal {{ place.name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <form action="{% url 'opening_hours_create' place.id %}" class="uniForm" method="post">
        {% crispy opening_hours_form %}
    </form>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}