{% autoescape off %}

<p>Resetowanie hasła</p><br>
<p>Cześć {{ user.username }}!</p><br/>
<p>Właśnie otrzymaliśmy prośbę o zresetowanie hasła przypisanego do tego konta e-mail.</p><br>
<p>Aby dokończyć ten proces użyj poniższego hasła, aby zalogować się do swojego konta, a następnie wybierz opcję 'Zmień hasło', aby ustawić własne hasło.</p><br/>
<div style="display: flex; justify-content: center">
    {{ password }}
</div>
<p>Jeżeli to nie Ty wysłałeś tę prośbę, zignoruj tą wiadomość.</p>

{% endautoescape %}
